.button {
    height: 45px;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    padding: 0 20px;
    color: #FFFFFF;
    margin-top: 50px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &__log {
        background-color: $main-color;
        &:hover {
            color: #fff;
        }   
    }
    &__pdf {
        background-color: $main-color;
        margin-left: 20px;
        &:hover {
            color: #fff;
        } 
    }
    &__form {
        display: block;
        color: #000;
        background-color: #fff;
        min-width: 185px;
        margin: 20px auto 0 auto;
        &:hover {
            color: #000;
        }
    }
    &__exit {
        min-width: 185px;
        text-align: center;
        background-color: $main-color;
        margin-top: 0;
        &:hover {
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .button {
        &__exit {
            width: 185px;
            margin: 0 20px 0 20px;
        }
        &__pdf {
            margin-top: 20px;
            margin-left: 0;
        }
    }
}
